<div class="custom__item custom__item--937ef173-0657-4f98-9dfc-7af6f3903580 small--one-whole one-whole ">
    <div class="custom__item-inner custom__item-inner--button">
      
          <div class="custom-button-container">
            <div class="btn-inner">
              
              <a href="/collections/geography-letter-subscription" class="btn feature-row__btn" style="background-color:#ed1d26">Sign Up</a>
              
              
              
              <a href="/collections/gift-subscriptions" class="btn feature-row__btn" style="background-color:#ed1d26">Give a Gift</a>
              
            </div>
          </div>
        
    </div>
  </div>

  {% schema %}
  {
    "name":"Custom buttons",
    "settings": [
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show Image",
          "default": true
        }
    ],
      "presets": [
          {
              "category": "custom",
              "name":"Custom buttons"
          }
      ]
  }
  {% endschema %}